{% extends "microscope/base.html" %}
{% load staticfiles %}
{% load shuffle %}
{% block content %}


    {#    <div class="jumbotron">#}
    {#        <h1>Hello, world!</h1>#}
    {#        <p>...</p>#}
    {#        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
    {#    </div>#}



    {#   <div style="width: 200px; margin: 0 auto">#}
    {#    {% url %}#}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">Slide Information</div>

                <div class="panel-body">
                    <h4>Name: <span>{{ slide.title }}</span></h4>
                </div>
            </div>
            <div id='outer'>
                <div class='box' id='first'>
                    <div class="magnifier-thumb-wrapper demo">

                        <img id="thumb" src="http://www.pottslab.org/images/Testes_Histologyb.jpg"
                             data-mode="inside" data-zoomable="true">


                    </div>

                </div>
                {% if markers or quiz_markers %}
                    <div class='box' id='second'>
                        <canvas width="501px" height="501px" id="myCanvas">
                        </canvas>
                    </div>
                {% endif %}

            </div>


        </div>
        {#        <div class="col-md-4">.col-md-4</div>#}
        <div class="col-md-6">
            {% if correct %}
                <div class="panel panel-default">
                    <div class="panel-heading">Configuration</div>

                    <div class="panel-body">
                        <a href="/slide/{{ slide.pk }}" type="button" class="btn btn-danger btn-lg">Close Results</a>
                        <a type="button" href="" class="btn btn-primary btn-lg disabled">Enable Magnification</a>
                        <a type="button" href="" class="btn btn-primary btn-lg disabled">Enable Labels</a>
                    </div>

                </div>
                <div class="text-center">
                <h1>Results:</h1>
                <svg id="fillgauge1" width="97%" height="250"></svg>
                </div>



            {% elif not markers and not quiz_markers %}
                <div class="panel panel-default">
                    <div class="panel-heading">Configuration</div>

                    <div class="panel-body">
                        <a type="button" href="?magnification=on" class="btn btn-primary btn-lg">Enable
                            Magnification</a>
                        <a type="button" href="/slide/{{ slide.pk }}/?labels=on" class="btn btn-primary btn-lg">Enable
                            Labels</a>
                        <a type="button" href="?quiz=yes" class="btn btn-primary btn-lg">Quiz</a>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Microsope Objective Lens</div>

                    <div class="panel-body">
                        <a type="button" href="?magnification&?40x" class="btn btn-primary btn-lg">40x</a>
                        <a type="button" href="?magnification=on" class="btn btn-primary btn-lg">20x</a>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Microsope Eyepiece Lens</div>

                    <div class="panel-body">
                        <a type="button" href="?magnification=on" class="btn btn-primary btn-lg">5x</a>
                        <a type="button" href="?magnification=on" class="btn btn-primary btn-lg">10x</a>
                    </div>
                </div>

            {% elif quiz_markers and not markers %}

                <div class="panel panel-default">
                    <div class="panel-heading">Configuration</div>

                    <div class="panel-body">
                        <a href="/slide/{{ slide.pk }}" type="button" class="btn btn-danger btn-lg">Close Quiz</a>
                        <a type="button" href="" class="btn btn-primary btn-lg disabled">Enable Magnification</a>
                        <a type="button" href="" class="btn btn-primary btn-lg disabled">Enable Labels</a>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Quiz</div>

                    </div>

                    <div class="panel-body">


                        <form id="quizform" name="form" method="post" action="." class="form-horizontal" role="form">

                            {% for marker in quiz_markers %}

                                <div style="margin-bottom: 25px" class="input-group">
                                    {#                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>#}
                                    <p class="radio-inline">{{ forloop.counter }}:</p>
                                    {% for marker in quiz_markers|shuffle %}

                                        <label class="radio-inline"><input type="radio"
                                                                           name="q{{ forloop.parentloop.counter }}"
                                                                           value="{{ marker }}">
                                            {{ marker }}</label>

                                    {% endfor %}
                                </div>

                            {% endfor %}

                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->

                                <div class="col-sm-12 controls">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success" value="Submit">Submit</button>
                                    {#                                    <a id="btn-login" href="#" class="btn btn-success">Submit</a>#}


                                </div>
                            </div>
                            <input type="hidden" name="options" value={{ quiz_markers }}>
                            <input type="hidden" name="pkstring" value={{ order }}>

                        </form>


                    </div>
                </div>
                </div>


                {% else %}


                {#            {% endif %}#}

                <div class="panel panel-default">
                    <div class="panel-heading">Configuration</div>

                    <div class="panel-body">
                        <a href="/slide/{{ slide.pk }}" type="button" class="btn btn-danger btn-lg">Disable Labels</a>
                        <a type="button" href="" class="btn btn-primary btn-lg disabled">Enable Magnification</a>
                        <a type="button" href="" class="btn btn-primary btn-lg disabled">Quiz</a>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for marker in markers %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ marker }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}

    </div>
    </div>



    {{ correct }}

    {% for marker in markers %}

        <script>
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            {#        ctx.fillText("1",{{ marker.x|add:"-2"}}, {{ marker.y|add:"3"}});#}
            ctx.textAlign = "start";
            ctx.font = "12px Arial";
            ctx.strokeStyle = "#000";
            ctx.strokeText({{ forloop.counter }}, {{ marker.x|add:"-2"}}, {{ marker.y|add:"3"}});


            ctx.beginPath();
            ctx.arc({{ marker.x }}, {{ marker.y }}, {{ marker.radius }}, 0, 2 * Math.PI);
            ctx.stroke();
            ctx.fillStyle = "rgba(255,250,205,0.5)";
            ctx.fill();
        </script>

    {% endfor %}

    {% for marker in quiz_markers %}

        <script>
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            {#        ctx.fillText("1",{{ marker.x|add:"-2"}}, {{ marker.y|add:"3"}});#}
            ctx.textAlign = "start";
            ctx.font = "12px Arial";
            ctx.strokeStyle = "#000";
            ctx.strokeText({{ forloop.counter }}, {{ marker.x|add:"-2"}}, {{ marker.y|add:"3"}});


            ctx.beginPath();
            ctx.arc({{ marker.x }}, {{ marker.y }}, {{ marker.radius }}, 0, 2 * Math.PI);
            ctx.stroke();
            ctx.fillStyle = "rgba(255,250,205,0.5)";
            ctx.fill();
        </script>

    {% endfor %}
    <script type="text/javascript" src="{% static "js/Event.js" %}"></script>
    <script type="text/javascript" src="{% static "js/Magnifier.js" %}"></script>
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="{% static "js/liquidFillGuage.js" %}" language="JavaScript"></script>

    {% if mag %}

        <script>
            var evt = new Event(),
                    m = new Magnifier(evt);
            m.attach({
                thumb: '#thumb',
                large: 'http://www.pottslab.org/images/Testes_Histologyb.jpg',
                mode: 'inside',
                zoom: 10,
                zoomable: true
            });
        </script>

    {% endif %}

    {% if correct %}
        <script>
        var gauge1 = loadLiquidFillGauge("fillgauge1", {{ correct }} / 3 * 100);
        var config1 = liquidFillGaugeDefaultSettings();
        config1.circleColor = "#FF7777";
        config1.textColor = "#FF4444";
        config1.waveTextColor = "#FFAAAA";
        config1.waveColor = "#FFDDDD";
        config1.circleThickness = 0.2;
        config1.textVertPosition = 0.2;
        config1.waveAnimateTime = 1000;
        </script>
    {% endif %}

    {#    </div>#}
{% endblock content %}